// Place all the styles related to the JuniorEnterprises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.page-item.active .page-link{
    background: #018c77;
  }
.previous{
    color:#018c77;
}
.next{
    color:#018c77;
}
.page-link{
    color:#018c77
}