.pagination{
    justify-content:center;
}
.pagination span{
    background: #fff;
    color: #737373;
}

.pagination span.current{
    background: #fff;
    padding: 10px 15px;
    color: #737373;
}

.pagination span a{
    display:flex;
    padding: 10px 15px;
}


.pagination span a:visited{
    color: #737373;
}

span.prev, span.page, span.next, span.last{
    border-left: 1px solid #c4c4c4;
}

.pagination span.current{
    background: #018C77;
    color: #fff;
    font-weight: 500;
}

.pagination span:hover{
    background: #FF8225;
}

.pagination span a:hover{
    color: #fff;
    font-weight: 500;
}
.pagination span.current:hover{
    background: #018C77;
}


span.prev, span.next{
    display:none;
}
